.studentFilters{
  /* display: flex; */
  /* justify-content: flex-end; */
  /* margin: 0.5rem 1rem; */
  /* background-color: #fff; */
  /* padding: 0.5rem 1rem; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px 1px #ccc; */
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

}
.studentFilters__dropdown{
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  outline: none;
}