.addDoubt{

    width: 100%;
    height: 100vh;
   
}

.addDoubt_body{

    height: 91vh;
    min-height: fit-content;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}


.addDoubt_left{

    flex: 0.5;

   
   
   
   
    /* background-color:var(--lightest); */
   
     background-image: url("../../../public/landing4.svg");
    background-repeat: no-repeat;
    background-size: contain ;

     /* background-color: aliceblue;  */

}

.addDoubt_right{

    flex: 0.5;
    /* background-color: var(--highlight); */
   
}