.signin{
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#008891;
}

.signinCard{

	width: 60%;
	height: 70%;
	background-color:white;

	display: flex;
	flex-direction: row;
	box-shadow:  0px 5px 10px -5px #0b0b0b;


}

.signin_left
{
	width: 50%;
	
	
}

.signin_right{
	width: 50%;
	
	
}







.signin_right_card h1{
	text-align: center;
	color: #008891;
	margin-top: 10%;
	flex: 0.4;
}

.signin_right_card{
	display: flex;
	height: 100%;
	width: auto;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}



.signin_right_card button{

	background-color: #008891;
	color: white;
	width: fit-content;
	height: fit-content;
	min-width:fit-content;
	padding: 6px;
	border-radius: 5px;
	
}

.signin_right p{
	/* margin-left: 40px; */
	text-align: center;
	color: #015a61;
	

}

.signin_right_card_buttons{
	flex: 0.3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 600px) {

	.signinCard{
		width:90vw;
		height: 80vh;
	}

	.signin_img{

		object-fit: fill;
	}
	
  }



