.newHome_subhead {
    cursor: pointer;
	display: inline-block;
	color: rgb(160, 158, 158);
    font-weight: 400;
	font-size: 20px;
}

.newHome_subhead_highlight {
	border-radius: 20px;
	background-color: rgb(243, 240, 240);
	color: black;
}

.newHome_subhead:hover {
	color: rgb(48, 48, 48);
}
